GestionBancariaWebForms/App_WebReferences/GestionBancariaWS/ServiceGestionBancaria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoginUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoginUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoginUsuarioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBREUSUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APELLIDO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PASS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ACTIVO" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaMovimientos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cuenta" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cuenta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDCUENTA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SUCURSAL" type="tns:Sucursal" />
          <s:element minOccurs="0" maxOccurs="1" name="MONEDA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:Cliente" />
          <s:element minOccurs="1" maxOccurs="1" name="SALDO" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MOVIMIENTOSCUENTA" type="tns:ArrayOfMovimiento" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHAAPERTURA" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sucursal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDSUCURSAL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DIRECCION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ACTIVA" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CUENTASSUCURSAL" type="tns:ArrayOfCuenta" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPLEADOSUCURSAL" type="tns:ArrayOfEmpleado" />
          <s:element minOccurs="0" maxOccurs="1" name="PRESTAMOSSUCURSAL" type="tns:ArrayOfPrestamo" />
          <s:element minOccurs="1" maxOccurs="1" name="CANTIDADPRESTAMOS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CANTIDADCUENTASABIERTAS" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cuenta" nillable="true" type="tns:Cuenta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmpleado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Empleado" nillable="true" type="tns:Empleado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Empleado">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SUCURSAL" type="tns:Sucursal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPrestamo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Prestamo" nillable="true" type="tns:Prestamo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Prestamo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDPRESTAMO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SUCURSAL" type="tns:Sucursal" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHAEMITIDO" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTALCUOTAS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CANCELADO" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MONEDA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MONTO" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DIRECCION" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TELEFONOS" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMovimiento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Movimiento" nillable="true" type="tns:Movimiento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Movimiento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDMOVIMIENTO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TIPOMOVIMIENTO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="COTIZACION" type="tns:Cotizacion" />
          <s:element minOccurs="0" maxOccurs="1" name="CUENTA" type="tns:Cuenta" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="tns:Usuario" />
          <s:element minOccurs="0" maxOccurs="1" name="SUCURSAL" type="tns:Sucursal" />
          <s:element minOccurs="0" maxOccurs="1" name="MONEDA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VIAWEB" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MONTO" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cotizacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FECHA" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PRECIOCOMPRA" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRECIOVENTA" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaMovimientosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaMovimientosResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getLoginUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:getLoginUsuario" />
  </wsdl:message>
  <wsdl:message name="getLoginUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:getLoginUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaMovimientosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaMovimientos" />
  </wsdl:message>
  <wsdl:message name="ConsultaMovimientosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaMovimientosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceGestionBancariaSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLoginUsuario">
      <wsdl:input message="tns:getLoginUsuarioSoapIn" />
      <wsdl:output message="tns:getLoginUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaMovimientos">
      <wsdl:input message="tns:ConsultaMovimientosSoapIn" />
      <wsdl:output message="tns:ConsultaMovimientosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceGestionBancariaSoap" type="tns:ServiceGestionBancariaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginUsuario">
      <soap:operation soapAction="http://tempuri.org/getLoginUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaMovimientos">
      <soap:operation soapAction="http://tempuri.org/ConsultaMovimientos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceGestionBancariaSoap12" type="tns:ServiceGestionBancariaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginUsuario">
      <soap12:operation soapAction="http://tempuri.org/getLoginUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaMovimientos">
      <soap12:operation soapAction="http://tempuri.org/ConsultaMovimientos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceGestionBancaria">
    <wsdl:port name="ServiceGestionBancariaSoap" binding="tns:ServiceGestionBancariaSoap">
      <soap:address location="http://localhost:43285/GestionBancariaWS/ServiceGestionBancaria.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceGestionBancariaSoap12" binding="tns:ServiceGestionBancariaSoap12">
      <soap12:address location="http://localhost:43285/GestionBancariaWS/ServiceGestionBancaria.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>